body {
  background: #636e72;
  color: #dfe6e9;
  font-style : "Roboto";
}

h1 {
  font-size: 5em;
  margin-top: 0px;
  padding-top: 0px;
}

h2 {
  font-size: 4em;
}

p {
  font-size: 1.5em;
}

hr {
  border-color: #b2bec3;
}

input {
  width: 80%;
}
